<div class="d-flex container gap-1">
  <button class="btn btn-success" *ngIf="!isCallActive()" (click)="call()">
    Call
  </button>
  <button class="btn btn-danger" *ngIf="isCallActive()" (click)="hangup()">
    Hangup
  </button>
  <div *ngIf="isCallActive()" class="d-flex gap-2">
    <button class="btn btn-primary" (click)="toggleCamera()">
      {{ isCameraActive() ? "Stop Camera" : "Open Camera" }}
    </button>
    <button class="btn btn-warning" (click)="toggleMic()">
      {{ isMicActive() ? "Mute" : "Unmute" }}
    </button>
    <button class="btn btn-secondary" (click)="toggleScreen()">
      {{ isScreenActive() ? "Stop Screen" : "Share Screen" }}
    </button>
  </div>
</div>
<div class="container d-flex flex-column">
  <div>
    <video class="video" #remoteVideo autoplay></video>
    <video class="video" #remoteScreen autoplay></video>
  </div>
  <div class="container">
    <video class="video" #localVideo autoplay [srcObject]="localStream"></video>
    <video
      class="video share-screen"
      #localScreen
      autoplay
      [srcObject]="localScreenStream"
    ></video>
  </div>
</div>
<input type="text" />
