<div class="d-flex container gap-1">
  <button class="btn btn-danger" *ngIf="isCallActive()" (click)="hangup()">
    Hangup
  </button>
  <div *ngIf="isCallActive()" class="d-flex gap-2">
    <button class="btn btn-primary" (click)="toggleCamera()">
      {{ isCameraActive() ? "Stop Camera" : "Open Camera" }}
    </button>
    <button class="btn btn-warning" (click)="toggleMic()">
      {{ isMicActive() ? "Mute" : "Unmute" }}
    </button>
    <button class="btn btn-secondary" (click)="toggleScreen()">
      {{ isScreenActive() ? "Stop Screen" : "Share Screen" }}
    </button>
  </div>
</div>
<div class="container d-flex flex-column">
  <div class="streams remote-peer">
    <video
      *ngIf="remoteStream"
      class="video"
      #remoteVideo
      autoplay
      [srcObject]="remoteStream"
    ></video>
    <video
      *ngIf="remoteScreen"
      class="video"
      #remoteScreen
      autoplay
      [srcObject]="remoteScreen"
    ></video>
  </div>
  <div class="streams local-peer">
    <video class="video" #localVideo autoplay [srcObject]="localStream"></video>
    <video
      class="video share-screen"
      #localScreen
      autoplay
      [srcObject]="localScreenStream"
    ></video>
  </div>
</div>
