<div class="card" [@fadeInOut]="getAnimationState()">
  <div class="card2">
    <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <h2 id="heading">Register</h2>
      <div class="field">
        <img
          src="../../../assets/icons/mail.svg"
          class="input-icon"
          alt="at icon"
        />
        <input
          type="email"
          class="input-field"
          placeholder="Email"
          autocomplete="off"
          minlength="5"
          maxlength="40"
          formControlName="email"
          required
        />
        <span
          *ngIf="
            registrationForm.get('email')?.errors &&
            registrationForm.get('email')?.touched
          "
        >
          Invalid Email. A valid email must contain 5-40 alphanumeric characters
        </span>
      </div>
      <div class="field">
        <img
          src="../../../assets/icons/user.svg"
          class="input-icon"
          alt="at icon"
        />
        <input
          type="text"
          class="input-field"
          placeholder="Display Name"
          autocomplete="off"
          minlength="3"
          maxlength="30"
          formControlName="displayName"
          required
        />
        <span
          *ngIf="
            registrationForm.get('displayName')?.errors &&
            registrationForm.get('displayName')?.touched
          "
        >
          Invalid Display name. A valid name must contain 3-30 alphanumeric
          characters or underscore
        </span>
      </div>
      <div class="field">
        <img
          src="../../../assets/icons/lock.svg"
          class="input-icon"
          alt="lock icon"
        />
        <input
          type="password"
          class="input-field"
          placeholder="Password"
          required
          minlength="8"
          maxlength="30"
          formControlName="password"
        />
        <span
          *ngIf="
            registrationForm.get('password')?.errors &&
            registrationForm.get('password')?.touched
          "
        >
          Invalid Password. A valid password must contain 8-30 alphanumeric
          characters or [!$@&]
        </span>
      </div>
      <button class="btn btn-submit" [disabled]="!registrationForm.valid">
        Submit
      </button>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </form>
  </div>
</div>
