<div class="card" [@fadeInOut]="getAnimationState()">
  <div class="card2">
    <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <h2 id="heading">Password Reset</h2>
      <div class="field">
        <img
          src="../../../assets/icons/mail.svg"
          class="input-icon"
          alt="at icon"
        />
        <input
          type="email"
          class="input-field"
          placeholder="Email"
          autocomplete="off"
          minlength="5"
          maxlength="40"
          formControlName="email"
          required
        />
        <span
          *ngIf="
            forgotPasswordForm.get('email')?.errors &&
            forgotPasswordForm.get('email')?.touched
          "
        >
          Invalid Email. A valid email must contain 5-40 alphanumeric characters
        </span>
      </div>
      <button class="btn btn-submit" [disabled]="!forgotPasswordForm.valid">
        Submit
      </button>
      <p>Don't have an account? <a routerLink="/register">Sign up</a></p>
    </form>
  </div>
</div>
