// Main text colors.
$primary-color: #111111;
// Gradients
$gradient-blue-raspberry: linear-gradient(to right, #00b4db, #0083b0);
$gradient-royal-blue: linear-gradient(to right, #141e30, #243b55);
$gradient-orange-coral: linear-gradient(to right, #ff9966, #ff5e62);
